.container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.container img {
  width: 100%;
  object-fit: cover;
}
.homePhrase {
  transform: translate(10%, 650%);
  font-style: italic;
  font-size: 3rem;
  font-family: "Noto Sans", sans-serif;
}
