/* color palette https://colorhunt.co/palette/2c39303f4f44a27b5cdcd7c9 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.nav {
  background-color: rgb(44, 57, 48);
}
.navList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  list-style: none;
}
.navList li * {
  font-size: 1.6rem;
  color: white;

  padding: 1rem;
  font-family: "Noto Sans", sans-serif;
}
.navList ul {
  font-size: 1.6rem;
  color: white;
  list-style: none;
  padding: 1rem;
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
}
a {
  text-decoration: none;
}

:global(.active) {
  background-color: rgb(63, 79, 68);
}
ul li:nth-child(-n + 2) a:hover {
  /* background-color: rgb(162, 123, 92); */
  text-decoration: underline;
}
/* ul li:nth-child(-n + 2) */
.main-shop {
  background-color: rgb(220, 215, 201);
}
.outlet {
  background-color: rgb(220, 215, 201);
}
div.cartNumber {
  font-size: 1rem;
  font-weight: bold;
  background-color: red;
  color: white;
  border-radius: 15px;
  height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
}
.cartIcon {
  max-width: 100px;
  height: auto;
  display: flex;
  padding: 0;
}
.cartIcon img {
  width: 100%;
  height: auto;
}
