* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.nav {
  background-color: dimgrey;
}

.nav-list * {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  color: white;
  list-style: none;
  padding: 2rem;
}
